.multiRange__root {
    width: 500px;
}

.multiRange {
    display: flex;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    display: flex;
    position: relative;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge,*/
}

.multiRange__bar {
    display: flex;
    width: 25%;
    background-color: #f0f0f0;
    padding: 4px 0px;
}
  
.multiRange .multiRange__thumb {
    background-color: white;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.multiRange .multiRange__thumb::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 1;
    margin: -8px -12px;
    cursor: pointer;
}

.multiRange .multiRange__input:focus + .multiRange__thumb::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -7px;
    width: 11px;
    height: 11px;
    z-index: 2;
    border-radius: 50%;
}

.multiRange .multiRange__caption {
    position: absolute;
    bottom: 35px;
    width: 2px;
    height: 2px;
    left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    display: none;
}

.multiRange .multiRange__thumb .multiRange__caption * {
    position: absolute;
    min-width: 30px;
    height: 30px;
    font-size: 75%;
    text-align: center;
    line-height: 30px;
    background-color: #fff;
    border-radius: 15px;
    color: #000;
    padding: 0px 5px;
    white-space: nowrap;
}

.multiRange .multiRange__thumb:active .multiRange__caption {
    display: flex;
}

.multiRange .multiRange__input:focus + .multiRange__thumb .multiRange__caption {
    display: flex;
}

.multiRange .multiRange__input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

.multiRange__thumb {
    position: absolute;
}

.multiRange__labels {
    display: flex;
    justify-content: space-between;
}